---
layout: default
---
  <!--- Banner Image --->
  <section class="top-banner background-image">
  </section>
  <!--- Featured Post --->
  <section class="conscious-text">
    <div class="center">
      <h2>from me to you</h2>
      <p class="quote-intro">You are a magical! Yes, you!</p>
      <p>
        You are experiencing life, made up of all nature’s elements - the air you breathe, the water you drink, the sun and moon that interchange your day are all part of your magic. There is an undeniable truth that when we separate ourselves from nature, we can feel off, so let’s get back to nature together. I believe in the magic in each of us and more importantly building the mindset that together we can change the way we think about, interact and live on this planet together.
      </p>
      <p>
        Join me on my journey towards a more conscious life together, exploring the world, eating  my weight in planet friendly foods and finding ways to build more magic in life.
      </p>
      <p class="center with-love">
        With love,<br />
        Your fellow Tiny Earthling .x
      </p>
    </div>
  </section>
  <section class="featured-post-section">
    <h2>Latest Rambling</h2>
    <div class="grid-equalHeight">
    {% for post in site.posts limit:3 %}
      {% include blog-preview.html post=post %}
    {% endfor %}
  </div>
  </section>
  <!-- Categories --->
  <section class="category-border">
    <div class="grid">
      <div class="col-4_xs-12">
        <a href="lifestyle.html">
          <div class="category-one category background-image">
            <h3 class="category-text">
              <div>
              Conscious
              </div>
              Lifestyle
            </h3>
          </div>
        </a>
      </div>
      <div class="col-4_xs-12">
        <a href="travel.html">
          <div class="category-two category background-image">
            <h3 class="category-text center">
              <div>
                Conscious
              </div>
              Travel
            </h3>
          </div>
        </a>
      </div>
      <div class="col-4_xs-12">
        <a href="Conscious Eating">
          <div class="category-three category background-image">
            <h3 class="category-text">
              <div>
                Conscious
              </div>
              Eating
            </h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!--- Conscious Lifestyle Text --->
  <section>
    <div class="conscious-text center">
      <h2>Why I choose to live a conscious lifestyle?</h2>
      <p>
        A conscious lifestyle is living with awareness, kind curiosity and care for ourself, the people around us and the environment. As an avid traveler I want to see the planet alive, see forests breathing, oceans swaying, animals wild and free -- living with intention to see our planet thrive.
      </p>
      <a href=" /about.html"><button class="read" type="button center">Learn More</button></a>
    </div>
  </section>
