---
layout: default
---
  <!--- Banner Image --->
  <section class="top-banner background-image">
  </section>
  <!--- Featured Post --->
  <section class="conscious-text">
      <div class="center">
        <h2>Love Letter to Simba</h2>
        <p>
          Simb... Simba...Simba... I don't even know where to start. My heart is full of gratitude and love for the time you spent with me. Mucho gracias for staying up last night and helping me out with my buggie bugs and styling me up. Thank you for teaching me that div is life and I will carry it with me till the end of time. Keep on div-ing... Forever and always, your favourite flower
        </p>
      </div>
  </section>
  <section class="featured-post-section grid">
    <h2 class="col-2">Latest Rambling</h2>
    {% for post in site.posts limit:2 %}
      {% include blog-preview-wide.html post=post %}
    {% endfor %}
  </section>
  <!-- Categories --->
  <section class="category-border">
    <div class="grid">
      <div class="col-4_xs-12">
        <a href="lifestyle.html">
          <div class="category-one category background-image">
            <h3 class="category-text">
              <div>
              Conscious
              </div>
              Lifestyle
            </h3>
          </div>
        </a>
      </div>
      <div class="col-4_xs-12">
        <a href="travel.html">
          <div class="category-two category background-image">
            <h3 class="category-text center">
              <div>
                Conscious
              </div>
              Travel
            </h3>
          </div>
        </a>
      </div>
      <div class="col-4_xs-12">
        <a href="Conscious Eating">
          <div class="category-three category background-image">
            <h3 class="category-text">
              <div>
                Conscious
              </div>
              Eating
            </h3>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!--- Conscious Lifestyle Text --->
  <section>
    <div class="conscious-text">
      <h2 class="title center">Why I choose to live a conscious lifestyle?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </section>
