---
layout: blogpost
category: Conscious Lifestyle
title: My Journey to a Conscious lifestyle
snippet: 2 years ago I made the step into a plant based lifestyle. Read about it!
date: April 04, 2017
pic_path: /images/te0186.jpg
---

    <p>
      Let’s face it, Vegans get a bad rep for being obnoxious, aggressive people who try to force everyone to eat delicious salad. Truth be told, we’re just very passionate people, trying to give a voice to those who have none. Sometimes we get a tad sassy!

      My conscious journey started about 2 years ago, after I left for my first big solo world adventure in 2014. Like most kids, I hated vegetables and had to be forced to eat their veggies or the boogie man would come and get me at night. It worked every time! Fast forward 20-few years and I’ll happily eat broccoli raw while watching my favourite tv show. I wasn’t opposed to the idea of not eating meat but I grew up in a meat-saturated culture in the isles of the Philippines and just went along with what I thought was normal and what I was accustomed to eating.
    </p>
