<a href="{{travel.url}}" class="content-preview col-4_xs-12_sm-12_md-12">
  <div class="content-preview-box">
    <div class="categorypic background-image" style="background-image: url({{travel.pic_path}})">
    </div>
    <div class="content-preview-box-words">
      <h3 class="featured-title">{{travel.title}}</h3>
      <h4 class="center horizontal-line">{{page.continent}}</h4>
      <p>
        {{travel.snippet}}
      </p>
      <button class="read" type="button center">Read More</button>
    </div>
  </div>
</a>
