---
layout: default
---

<section class="brand-header-section background-image" style="background-image: url('{{ page.pic_path }}'); background-position-y: {{page.header-y}}">
    <h1 class="center">{{ page.title }}</h1>
    <div class="post-horizontal-line">
    </div>
</section>

<section class="post-text">

{{content}}

</section>

<section class="brand-details-section center">
  <div>
    <h3 class="brand-header-title" >
      My picks
    </h3>
    <ul class="grid">
      {% for harry in page.picks %}
        <li class="col-4_xs-12_sm-12_md-6">
          <a href="{{ harry.url }}" target="_blank">{{ harry.name }}</a>
          <div class="brand-details-pic-image background-image" style="background-image: url({{harry.picture}});"
        </li>
      {% endfor %}
    </ul>
  </div>
  <p class="check-website-box">
    <a href="http://{{page.website}}"> Click here to check the {{page.name}} website.</a>
  </p>
</section>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_inline_share_toolbox center"></div>
