---
layout: default
---
<!-- Category Banner  -->
<section>
  <div class=" background-image category-banner" style="background-image: url({{page.pic_path}})">
    <h1 class="category-header center">{{page.category}}</h1>
  </div>
</section>

<section class="center whylove mob-margin">
  <h2 class="title">Why I love {{page.categorywhy}}</h2>
  <p>{{page.whylove}}
  </p>
</section>

<section class="grid center">
  {% for post in site.posts %}
    {% if post.category == page.category %}
      <a href="{{post.url}}" class="col">
        <div class="background-image categorypic" style="background-image: url({{post.pic_path}})">
        </div>
        <h4 class="featured-title">{{post.title}}</h4>
        <button class="read" type="button center">Read More</button>
      </a>
   {% endif %}
  {% endfor %}
</section>

<div>
  <h2>{{page.top}}</h2>
</div>

<section class="grid">
  {% for brand in site.brands %}
    {% if brand.category == page.category %}
      <a href="{{brand.url}}" class="col">
        <div class="categorypic background-image" style="background-image: url({{brand.pic_path}})">
        </div>
        <h3 class="featured-title center">{{brand.title}}</h3>
        <button class="read" type="button center">Read More</button>
      </a>
   {% endif %}
  {% endfor %}
 </div>
</section>


{{content}}
