---
layout: default
---
<!-- Category Banner  -->
<section>
  <div class="background-image category-banner" style="background-image: url({{page.pic_path}})">
    <h1 class="category-header center">{{page.category}}</h1>
  </div>
</section>

<section class="center whylove mob-margin">
  <h2 class="title">Why I love {{page.categorywhy}}</h2>
  <p>{{page.whylove}}
  </p>
</section>

<section class="content-listing-section center">
  <h2>Latest {{page.category}} posts</h2>
  <div class="grid-equalHeight">
    {% for post in site.posts %}
      {% if post.category == page.category %}
        {% include blog-preview.html post=post %}
     {% endif %}
    {% endfor %}
  </div>
</section>

<section class="content-listing-section center">
  <h2>{{page.top}}</h2>
  <div class="grid-equalHeight">
  {% for brand in site.brands %}
    {% if brand.category == page.category %}
      {% include brand-preview.html brand=brand %}
   {% endif %}
  {% endfor %}
  </div>
  <div class="grid-equalHeight">
  {% for travel in site.travels %}
    {% if travel.category == page.category %}
      {% include travel-preview.html travel=travel %}
   {% endif %}
  {% endfor %}
  </div>
</section>
