<!DOCTYPE html>
<html>
<head>
  <!-- Icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!--- Viewport Meta Tag --->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--- Gridlex --->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.5/gridlex.min.css">
  <!-- Font Family Oswald  -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- Font Family Old Standard TT -->
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <!-- CSS Stylesheet --->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <!--- Header Logo Navigation --->
  <header class="grid-middle">
    <div class="col-5_xs-12 logo">
      <a href="/index.html">
        <img src="/images/logo2.png" alt="tiny earthling logo" />
      </a>
    </div>
    <div class="col-7">
      <div>
        <nav class="text-center mob-hide">
          <a href="/about.html">About /</a>
          <a href="/blogpost.html">blog /</a>
          <a href="/lifestyle.html">Lifestyle /</a>
          <a href="/veganeats.html">Vegan Eats /</a>
          <a href="/travel.html">Travel /</a>
          <a href="/contact.html">Contact </a>
        </nav>

    <!---This is the hamburger menu--->
    <div class="grid">
      <div class="col-0_lg-0_md-12_sm-12_xs-12">
        <nav class="mob-show">
        <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
         <div class="burger-menu">
          <ul>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/blogpost.html">Blog</a>
            </li>
            <li>
              <a href="/lifestyle.html">Lifestyle</a>
            </li>
            <li>
            <a href="/veganeats.html">Vegan Eats</a>
            </li>
            <li>
              <a href="/travel.html">Travel</a>
            </li>
            <li>
              <a href="/contact.html">Contact</a>
            </li>
          <ul>
        </div>
        </nav>
      </div>
    </div>
  </header>


  {{content}}

  <!--- Footer --->
  <footer>
    <section>
      <div class="horizontal-line">
        <div class="footer-blog center">
          <h2>Follow me on Bloglovin</h2>
          <a href="Bloglovin">Bloglovin'</a>
        </div>
      </div>
    </section>
  <!--- Instagram Widget --->
    <section>
      <div class="horizontal-line instagram footer-blog center">
        <div class="instagram-text center">
          <h2>Instagram</h2>
          <p>@thetinyearthling</p>
        </div>
        <!-- LightWidget WIDGET -->
        <script src="//lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/9708b1606bba584f9860bca98b45215f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 80%; border: 0; overflow: hidden;"></iframe>
        <div class="icons">
          <i class="fa fa-pinterest fa-lg" aria-hidden="true"></i>
          <a href="mailto:hellotinyearthling@gmail.com?subject=Love Letter to you&body=Hey gal, Just wanted to send you a love letter....">
            <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/thetinyearthling/">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
        </div>
    </section>
    <div>
      <p class="copyright center"> website by Daffodil Zarco | ©tinyearthling </p>
    </div>
  </footer>
    <a href="#0" class="cd-top"></a>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-591c4704cc7ca21f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src=/js/script.js></script>
</body>
</html>
