<!DOCTYPE html>
<html>
<head>
  <!-- Icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!--- Viewport Meta Tag --->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--- Gridlex --->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.5/gridlex.min.css">
  <!-- Font Family Oswald  -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- Font Family Old Standard TT -->
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <!-- CSS Stylesheet --->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
  <!--- Header Logo Navigation --->
  <header class="grid-middle">
    <div class="col-5_md-12">
      <div>
        <a href="/index.html">
          <img src="http://silver-coyote.cloudvent.net/Images/logo.png" alt="tiny earthling logo" />
        </a>
      </div>
    </div>
    <div class="col-7_md-12">
      <div>
        <nav class="text-center">
          <a href="About">About /</a>
          <a href="Blog">blog /</a>
          <a href="lifestyle.html">Lifestyle /</a>
          <a href="Vegan Eats">Vegan Eats /</a>
          <a href="travel.html">Travel /</a>
          <a href="Inspiration"> Inspiration </a>
        </nav>
      </div>
    </div>
  </header>

  {{content}}

  <!--- Footer --->
  <footer>
    <section>
      <div class="horizontal-line">
        <div class="footer-blog center">
          <h2>Follow me on Bloglovin</h2>
          <a href="Bloglovin">Bloglovin'</a>
        </div>
      </div>
    </section>
  <!--- Instagram Widget --->
    <section>
      <div class="horizontal-line instagram footer-blog center">
        <div class="instagram-text center">
          <h2>Instagram</h2>
          <p>@tiny_earthling</p>
        </div>
        <!-- LightWidget WIDGET -->
        <script src="//lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/9708b1606bba584f9860bca98b45215f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 80%; border: 0; overflow: hidden;"></iframe>
        <div class="icons">
          <i class="fa fa-pinterest fa-lg" aria-hidden="true"></i>
          <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        </div>
    </section>
    <div>
      <p class="copyright center"> website by Tiny Earthling | ©tinyearthling </p>
    </div>
  </footer>
</body>
</html>
